*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("D:\\sri\\web proj\\locations\\bgi.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 270px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: dashed;
    color: rgb(91, 224, 236);
    font-size: 23px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: white;
    font-size: 100px;
}

p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}

.card{background-image: url("D:\\sri\\web proj\\locations\\ind.jpg");
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.one{
    background-image: url("D:\\sri\\web proj\\locations\\ind.jpg");
}

.two{
    background-image: url("D:\\sri\\web proj\\locations\\china.jpg");
}

.three{
    background-image: url("D:\\sri\\web proj\\locations\\usa.jpg");
}

.four{
    background-image: url("D:\\sri\\web proj\\locations\\uk.jpg");
}

.card:hover{
    transform: translateY(-10px);
}

.card h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.card p{
    font-family: monospace;
    font-size: 16px;
    color: white;
}
